HF_TOKEN=
WANDB_API_KEY=
WANDB_ENTITY=Psi0
PSI_HOME=~/Psi0
DATA_HOME=$PSI_HOME/data
HF_HOME=/home/ubuntu/.cache/huggingface
TORCH_HOME=/home/ubuntu/.cache/torch
UV_CACHE_DIR=/home/ubuntu/.cache/uv
HF_LEROBOT_HOME=$PSI_HOME/data/lerobot
OMP_NUM_THREADS=8
TOKENIZERS_PARALLELISM=false
DEEPSPEED_LOG_LEVEL=warning
CUDA_LAUNCH_BLOCKING=true
TF_CPP_MIN_LOG_LEVEL=3
AV_LOG_LEVEL=quiet
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python